[Unit]
Description=amdgpu-fand -- Daemon controlling the fan speed of Radeon cards
RequiresMountsFor=/sys /var

[Service]
Type=forking
PIDFile=/var/run/amdgpu-fand/pid
ExecStart=/usr/bin/amdgpu-fand

[Install]
WantedBy=multi-user.target
